<div class="wrapper">
    <div class="scroller">
        <div class="swiper-container banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="Content/img/banner_1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="Content/img/banner_2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="Content/img/banner_3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="Content/img/banner_4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="Content/img/banner_5.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="Content/img/banner_6.jpg" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="one-list container">
            <dl class="col-xs-3">
                <dt class="bg-newpink">
                    <i class="fa fa-file-archive-o"></i>
                </dt>
                <dd class="text-nobr">
                    车商城
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt class="bg-newgreen">
                    <i class="fa fa-credit-card"></i>
                </dt>
                <dd  class="text-nobr">
                    分期购车
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt class="bg-newpink">
                    <i class="fa fa-cc-stripe"></i>
                </dt>
                <dd class="text-nobr">
                    团购活动
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt class="bg-newblue">
                    <i class="fa fa-outdent"></i>
                </dt>
                <dd class="text-nobr">
                    找二手车
                </dd>
            </dl>

        </div>
        <div class="log">
            <img src="Content/img/log_1.gif" alt="">
        </div>
        <div class="title-list">
            <h1>车主服务</h1>
        </div>
        <div class="two-list clearfix">
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-black-tie"></i>
                </dt>
                <dd class="text-nobr">
                    油卡充值
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-cc-paypal"></i>
                </dt>
                <dd class="text-nobr">
                    低价保险
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-free-code-camp"></i>
                </dt>
                <dd class="text-nobr">
                    4S店保养
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-gratipay"></i>
                </dt>
                <dd class="text-nobr">
                    品质轮胎
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-linkedin-square"></i>
                </dt>
                <dd class="text-nobr">
                    车品商城
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-pinterest"></i>
                </dt>
                <dd class="text-nobr">
                    洗车
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-delicious"></i>
                </dt>
                <dd class="text-nobr">
                    违章代缴
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-bitbucket"></i>
                </dt>
                <dd class="text-nobr">
                    免费测评
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-scissors"></i>
                </dt>
                <dd class="text-nobr">
                    查周边
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-expeditedssl"></i>
                </dt>
                <dd class="text-nobr">
                    车主卡
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-scissors"></i>
                </dt>
                <dd class="text-nobr">
                    领劵保养
                </dd>
            </dl>
            <dl class="col-xs-3">
                <dt>
                    <i class="fa fa-calendar-plus-o"></i>
                </dt>
                <dd class="text-nobr">
                    全部
                </dd>
            </dl>
        </div>
        <div class="move-list">
            <h1><span>限时抢购</span>
                <time><b>13</b> : <b>13</b> : <b>13</b></time>
            </h1>
            <main class="move-dl">
                <div id="scroller">
                    <dl>
                        <dt><img src="Content/img/img_1.gif" alt=""></dt>
                        <dd>
                            <h2>补胎工具简易套装</h2>

                            <p>
                                <span>￥9.9元</span>
                                <b>28元</b>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/img_2.gif" alt=""></dt>
                        <dd>
                            <h2>补胎工具简易套装</h2>

                            <p>
                                <span>￥9.9元</span>
                                <b>28元</b>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/img_1.gif" alt=""></dt>
                        <dd>
                            <h2>补胎工具简易套装</h2>

                            <p>
                                <span>￥9.9元</span>
                                <b>28元</b>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/img_2.gif" alt=""></dt>
                        <dd>
                            <h2>补胎工具简易套装</h2>

                            <p>
                                <span>￥9.9元</span>
                                <b>28元</b>
                            </p>
                        </dd>
                    </dl>
                </div>
            </main>
        </div>
        <div class="car">
            <h1><span>活动专区</span><b>更多活动 <i class="fa fa-angle-right"></i></b></h1>
            <main>
                <div>
                    <h4>测身价炫富</h4>

                    <p>身价大PK</p>
                    <img src="Content/img/list_1.gif" alt="">
                </div>
                <div>
                    <h4>测身价炫富</h4>

                    <p>身价大PK</p>
                    <img src="Content/img/list_2.gif" alt="">
                </div>
                <div>
                    <h4>测身价炫富</h4>

                    <p>身价大PK</p>
                    <img src="Content/img/list_3.gif" alt="">
                </div>
            </main>
        </div>
        <div class="like">
            <h1><span>猜你喜欢</span><b>更多 <i class="fa fa-angle-right"></i></b></h1>
            <home data="data"></home>
            <div class="add" ng-click="add()">
                加载更多
            </div>
        </div>
    </div>
</div>